<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<!-- Parallel execution and Cross browser execution -->
	<test name="Firefox Test">
		<classes>
			<class name="com.orangehrm.tests.OrangeHRMSmoke" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
